 body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.1em;
     line-height: 1.5;
 }

 .bg-image {
     background: #333 url('./slike/pexels-photo-248515.png');
     background-position: center;
     height: 449.5px;
     background-size: cover;
     opacity: 0.9;
 }

 #naslov {
     padding-top: 100px;
     margin: 0;
     font-size: 2em;
     font-weight: bold;

 }

 #podnaslov {
     margin: auto;
     padding-top: 17.7px;
     padding-bottom: 25.4px;
     max-width: 816.2px;
 }

 #dugme {
     display: inline-block;
     margin-top: 1px;
     margin-bottom: 8.8px;
     text-decoration: none;
     background: #333;
     padding: 1em 2em;
     border: 1px solid #666;
     color: white;
 }

 #dugme:hover {
     color: black;
     background: white;
 }

 h2 {
     padding: 30.4px 0;
     font-size: 26.4px;
     font-weight: bold;
     margin: 0;
     padding-bottom: 13px;
 }

 .sekcija_B_paragraf {
     padding: 0;
     max-width: 400px;
     margin: auto;
 }

 #section_B {
     padding-bottom: 35.2px;
 }

 .kartica {
     margin: auto;
     border: 0;

 }

 #section_C {
     padding: 2em 1em 2em;
     background-color: #333;
 }

 h5 {
     font-size: 20.6px;
     padding: 20.6px 0;
     font-weight: 600;
 }

 p {
     font-size: 17.6px;
     padding: 17.6px 0;
 }

 .card-body {
     padding: 26.4px;
 }

 .bg-secondaryi {
     color: #333;
 }

 #section_D {
     padding: 2em;
 }

 #section_D p {
     max-width: 880px;
     margin: auto;
 }

 .futer {
     padding: 2em;
     padding-top: 35px;
 }

 #futer {
     padding: 2em;
     --bs-gutter-x: 0;
     background-color: #000;

 }

 @media only screen and (min-width: 1400px) {

     .kartica {
         width: 273px;
     }

     .red {
         padding-left: 72px;
         padding-right: 76px;
     }

     #section_D p {
         padding-top: 35px;
     }
 }

 @media only screen and (max-width: 426px) {

     #paragraf {
         columns: 1;
     }

     #podnaslov {
         padding-top: 17.6px;
     }

     #dugme {
         margin-bottom: 31px;
     }

     #section_B h2 {

         line-height: 40px;
         padding: 25.4px 0;
         padding-bottom: 27px;
     }

     .futer {
         padding-bottom: 20px;
     }

     .futer h2 {
         padding-bottom: 30px;
     }

     #section_D h2 {

         line-height: 40px;
         padding: 25.4px 0;
         padding-bottom: 27px;
     }

 }

 @media only screen and (max-width: 1025px) {
     .bg-image {

         height: auto;
     }

     .zaglavlje {

         padding: 0 23px;
     }

     #section_B {
         padding-left: 26px;
         padding-right: 26px;
         padding-bottom: 19.2px;
     }

     .kartica {
         width: 100%;
         height: 100%;
         padding: 0;

     }

     .mobile_kartice {
         margin: 17.6px;
         margin-top: 0;
         padding: 0;

     }

     #section_C {
         padding: 2em 1em 1em;
     }
 }

 @media only screen and (min-width: 1025px) {
     #paragraf {
         column-gap: 26px;
         columns: 2;
         max-width: 836px;
         margin: auto;
     }
 }

 @media only screen and (max-width: 1400px) {
     .kartica {
         width: 100%;
         height: 100%;
         padding: 0;

     }
 }
